body {
    font-family: Arial;
}
header, h1, p, legend, label, footer {
    display: none;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
input[type="text"]:required:invalid {
    box-shadow: none;
}
input[type="text"][value=""]:required {
    outline: 0;
}
input[type="text"]:required:focus {
    outline-offset: 0;
}
input[type="text"]:required:valid {
    outline: 2px solid #009933;
}
input[type="text"]:required:focus:invalid {
    outline: 2px solid #ff3333;
}
svg {
    height: 1em;
    width: 100%;
}